
{{> head}}


    {{> navbar }}
  
<div class="row">
    <div class="col-8">
        <h1>Panda</h1>

    </div>
    <div class="col-4">
        <img src="assets-new/img/panda.jpg" class="img-thumbnail" alt="">
    </div>
</div>

  {{> footer}}
